$base: #85DFB9;
$accent1: #D649E3;
$accent2: #7D736F;
$accent3: #9DFCD4;
$accent4: #EDDCC0;
$accent5: #EEC5A5;
$accent6: #D08F75;

$primary: $base;
$info: $accent6;
$success: $accent3;
$warning: $accent4;
$danger: $accent1;

// Primary shades
$white: #FFFAFF;
$white-bis: #FFEBFF;
$white-ter:#EDDDF0;
$grey-lightest: #E1C6E6;
$grey-lighter: #D6C2D8;
$grey-light: #D0C7D1;
$grey: #9E8692;
$grey-dark:#886D7A;
$grey-darker: #635055;
$black-ter:#4F4044;
$black-bis: #3D363B;
$black:#2B262A;

$text-strong: $black-bis;